{% extends 'base.html' %}
{% load static %}
{% block title %}Insumos{% endblock %}
{% block header_title %}Koltagri{% endblock %}
{% block header_text %}insumos{% endblock %}

{% block rels %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/partials/_search.css'%}">
<link rel="stylesheet" href="{% static 'css/partials/actions.css'%}">
{% endblock %}


{% block styles %}
<style>

</style>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
{% endblock %}
