<section class="filter-create-items">
    <button class="action-button create-item" type="button" aria-label="Criar item">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="currentColor">
            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
        </svg>
        <span>{{ create_label }}</span>     
    </button>

    <button class="action-button filter-item" type="button" aria-label="Filtrar itens">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="currentColor">
            <path d="M400-240v-80h160v80H400ZM240-440v-80h480v80H240ZM120-640v-80h720v80H120Z"/>
        </svg>
        <span>Filtrar</span>   
    </button>
</section>