<div class="filter-create">
    
    <button type="button" >
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
            <path d="M400-240v-80h160v80H400ZM240-440v-80h480v80H240ZM120-640v-80h720v80H120Z"/>
        </svg>
        <p>{{ filter_label|default:'Filtrar' }}</p>
    </button>
    

    
    <a href="{{ create_url|default:'#' }}" class="create-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
        </svg>
        <p>{{ create_label|default:'Criar' }}</p>
    </a>
    
</div>
