{% load static %}

<footer>
  <nav>
    <div id="home-button" class="nav-button">
      <img src="svg/home_icon.svg" alt="">
      <p>Início</p>
    </div>
    <div id="search-button" class="nav-button">
      <img src="svg/search_icon.svg" alt="">
      <p>Busca</p>
    </div>
    <div id="messages-button" class="nav-button">
      <img src="svg/message_icon.svg" alt="">
      <p>Chat</p>
    </div>
    <div id="cultivation-button" class="nav-button">
      <img src="svg/plant_icon.svg" alt="">
      <p>Plantios</p>
    </div>
    <div id="person-button" class="nav-button">
      <img src="svg/person_icon.svg" alt="">
      <p>Perfil</p>
    </div>
  </nav>
</footer>