@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

/* global settings*/

:root{
  --cor-principal: #3498db; /* Azul */
  --cor-secundaria: #2c3e50; /* Cinza escuro */
  --middle-green: #63995b;
  --middle-grey: #f2f2f2;
  --tamanho-fonte: 16px;

    /* Neutros */
  --outono-neutro-1: #f6f1d3;
  --outono-neutro-2: #c9a77e;
  --outono-neutro-3: #9c7042;
  --outono-neutro-4: #6d4b2f;
  --outono-neutro-5: #4a2a1d;
  --outono-neutro-6: #3a1a14;

  /* Amarelos */
  --outono-amarelo-1: #f6a600;
  --outono-amarelo-2: #e3a900;
  --outono-amarelo-3: #d49700;

  /* Rosas */
  --outono-rosa-1: #f7a692;
  --outono-rosa-2: #f26b72;
  --outono-rosa-3: #a44852;

  /* Laranjas e Vermelhos */
  --outono-laranja-1: #f5863e;
  --outono-laranja-2: #e56142;
  --outono-laranja-3: #e1462f;
  --outono-laranja-4: #c55120;
  --outono-laranja-5: #9a351d;
  --outono-laranja-6: #f7c49a;
  --outono-laranja-7: #f2a673;
  --outono-vermelho-1: #e3221e;
  --outono-vermelho-2: #b51d1d;
  --outono-vermelho-3: #7d1614;

  /* Roxos */
  --outono-roxo-1: #a64063;
  --outono-roxo-2: #822a35;
  --outono-roxo-3: #3d1524;

  /* Azuis */
  --outono-azul-1: #5d8e8f;
  --outono-azul-2: #2c6575;
  --outono-azul-3: #183949;

  /* Azuis esverdeados */
  --outono-azul-esverdeado-1: #b1c37d;
  --outono-azul-esverdeado-2: #6f7e4e;
  --outono-azul-esverdeado-3: #4e6942;
  --outono-azul-esverdeado-4: #1d4f33;
  --outono-azul-esverdeado-5: #14321c;

  /* Verdes */
  --outono-verde-1: #8eb17f;
  --outono-verde-2: #507d53;
  --outono-verde-3: #2e6344;
  --outono-verde-4: #14412d;
  --outono-verde-5: #0f2715;

  /* Metais */
  --outono-metal-ouro: #d4af37;
  --outono-metal-bronze: #b08d57;

  /* Standard-font-size*/
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}


.outfit-font> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Define grid-areas */



body {
  display: grid;
  grid-template-areas:
    "header"
    "main "
    "footer";
  grid-template-columns: 0.18fr 1fr 0.18fr;
  grid-template-rows:  338px 7fr 1fr;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* NOVO HEADER */
header{
  grid-area: header;
  position: relative;
  background-image: url('svg/home_page_.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:auto; /* ajuste conforme a altura desejada */
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  padding-top: 10%;
}

/* CONTAINER QUE SEGURA OS ELEMENTOS SOBRE A IMAGEM */

/* BARRA DE PESQUISA */
#search-bar {
  margin: 0 24px;
  display: flex;
  align-items: center;
  padding: 0.1rem 24px;
  background: var(--middle-grey);
  border-radius: 10px;
  width: 100%;
   z-index: 999;
}

/* ÍCONE DA LUPA */
#search-bar img {
  background-color: white;
  align-self: center;
}

#search-bar form{
  width: 100%;
}
/* INPUT DE TEXTO */
#search-bar input {
  display: block;
  border: none;
  flex-grow: 1;
  height: 44px;
  outline: none;
  font-size: 1rem;
  width: 100%;
  background-color: #f2f2f2;
}

/* TÍTULO (OPCIONAL) */
.header-title {
  color: white;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

/* RESTANTE DA PÁGINA */
aside {
  grid-area: aside;
  display: none;
  background-color: var(--middle-green);
}

main {
  grid-area: main;
  display: grid;
  
  background-color: transparent;
  padding: 24px;
}





footer{
  grid-area: footer;
  background-color: #64A05C;
  display: flex;
  align-items: center;
}

footer nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
}


/* @media (min-width: 621px, max-width: 900px) {
  
}
*/ .nav-button {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-content: center;
  
}


.nav-button img{
  height: 20px;
  color: white;
}

.nav-button p {
  color: white;
  font-size: 15px;
}

@media (max-width: 747px) {
  main{
    grid-template-columns: 1fr !important;   /* mobile: 1 coluna */
  gap: 16px;
  }
}

      @media (min-width: 748px)  {
  body{
    display: grid;
    grid-template-areas:
    "aside header"
    "aside  main";
    grid-template-columns: 280px 1fr;
    grid-template-rows: 70px 2fr;
    height: 100vh;
  }
  aside{
    display: flex !important;
    background-image: url(svg/background-home.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    margin: 10px;
    border-radius: 10px;
  }
  header{
    display: flex;
    background-image: none;
    align-items: start;
    margin-top: 10px;
    margin-left: 10px;

   }
   .transparent-card-container{
    display: none !important;
   }
   main{
    max-height: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: transparent;
    margin-top: 10px;
    padding: 0px !important;
    grid-template-columns: repeat(2, 1fr); /* sempre 2 colunas */
  gap: 1rem;
   }
   main > *:nth-child(odd):last-child {
  grid-column: span 2;
}
main .grid-item{
  height: 360px;
}
   body{
    background-color: white;
   }
   header{
    display: flex;
    flex-flow: row;
    align-items: start !important;
    justify-content: space-between;
    height: 60px !important;
    padding-top: 0px;
    margin-right: 10px;
   }

   .header-content{
    height: 60px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

   }
   #search-bar {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0.1rem 24px;
  background: var(--middle-grey);
  justify-items: start;
  border-radius: 5px;
  min-width: 500px;
  width: auto;
  max-width: 724px;
  height: 48px;
}
#search-bar form{
  width: 100%;
}
#search-bar form input{
  display: block;
  width: 100%;
}

#user-actions-desktop{
  display: flex;
  align-items: center;
  height: 48px;

}

   footer nav{
    display: none;
   }
   .header-content #new-plant-button{
    display: none;
   }
   #header-content form{
    width: 100%;
   }
   .nav-links{
    display: flex;
    flex-direction: column;
  
  
    
   }

   .navigation-button{
    height: 44px;
   }

   .navigation-button span{
    font-size: 16px;
   }
   .nav-links a{
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
  
   }

   .nav-links a svg{
    fill: white;
    height: 24px;
   }

   .nav-links a span{
    color: white;
    font-weight: 500;
    font-size: 20px;

   }
   .nav-links h3{
    color: #B3B3B3;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 13px;
    display: none;

   }

   .nav-links h3:first-child{
    margin-top: 20px;
   }
   nav{
    gap: 24px;
    background: rgba(7, 125, 235, 0.2) !important;
    backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
border: 1px solid rgba(50, 141, 136, 0.2);
border-radius: 10px;
   }

   .navigation-button, nav figure,.nav-links h3{
  padding-left: 24px;
   }
   nav figure{
    margin-top: 10px;
   }

   #weather-events{
    display: none !important;
   }
   hr {
    margin: 24px;
    border: none;                   /* remove o padrão */
    border-top: 0.1px solid rgba(255, 255, 255, 0.37);   /* define espessura, estilo e cor */
}
#plant-resume-area{
  display: none;
}
#email-button button, #notifications-button button{
  height: 38px;
  width: 38px;
  border: none;
  background: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-content svg{
  fill: var(--middle-green);
}




#other-section{
   grid-area: other-section;
}

#stati {

  grid-area: stati;
}

/* New weather card(desktop)*/


/* colocar sombreado */
}




@media (min-width: 748px) and (max-width: 1270px) {
  nav a span{
    display: none;
  }
  nav a svg{
    width: 30px;
    height: 30px !important;
  }

  nav{
    align-items: center;
    justify-content: start;
  }
  a.navigation-button{
    width: fit-content !important;
  }
  aside{
    width: 78px !important;
  }

  aside nav figure{
    display: none !important;
  }
  body{
    display: grid;
    grid-template-areas:
    "aside header"
    "aside  main";
    grid-template-columns: 100px 1fr;
    grid-template-rows: 70px 2fr;
    height: 100vh;
  }
  .nav-links a {
    align-items: center !important;
    justify-content: center;
    padding-left: 0px;
    height: 44px;
    width: 44px;
  }

  .nav-links{
    align-items: center;
    gap: 10px;
  }
}
 @media (max-width: 971px)  {
  #user-actions-desktop{
  display: none !important;
}
 }

