#footer-weather-advices figure{
  display: flex;
  flex-flow: row;
  bottom: 0px;
  left: 0px;
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;
  background-color: #C95313  !important;
  border-bottom-left-radius: 10px;

}

#weather-events{
position:absolute !important;
top: 0px;
right: 0px;
left: 0px;
z-index: 0;

}

#footer-weather-advices span{
background-color: #f2f2f2;
width: 100%;
display: flex;
align-items: center;
justify-content: start;
padding-left: 6px;
border-bottom-right-radius: 10px;

}






.transparent-card{
  background :rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
  display: flex;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
  z-index: 999;
}




.transparent-card p{
  color: #f2f2f2;
}


#tasks-card small{
color: #f2f2f2;
font-size: 13px;
text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#tasks-card b{
font-size:36px;
text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#tasks-card svg{
  height: 48px !important;
  width: 48px;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
}



#weather-card-content b{
  font-size: 30px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}


#new-plant-button{
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #62984A;
  height: 44px;
  width: 155px;
  left: calc(100vw - 155px);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  top: 100px;
  
}

#new-plant-button p {
  color: white;
}

.nav-button {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-content: center;
  
}


.nav-button img{
  height: 20px;
  color: white;
}

.nav-button p {
  color: white;
  font-size: 15px;
}



#plant-resume-area{
  margin-top: 20px;
}
#plant-resume-header{
  display: flex;
  padding-left: 24px;
  justify-content: space-between;
  align-items: center;

}

#plant-resume-header #acess-plant-button{
  background-color: white;
  display: flex;
  gap: 5px;
  height: 40px;
  width: 144px;
  align-items: center;
  justify-content: center;
  border-radius:5px 0px 0px 5px;
  color: #f2f2f2;
  

}
#acess-plant-button p{
  color: #62984A;
}
#plant-resume-header h2{
  color: #62984A;
}
#plant-resume-card #card-body{
  display: flex;
  padding-inline: 24px;
  background-color: #62984A;
  height: 84px;
  align-items: center;
  margin-top: 24px;
}
#plant-resume-card #card-body figure{
  width: 56px;
  height: 56px;
}

#plant-resume-card #card-body img{
  width: 50px;
  height: 50px;
}

#plant-image img{
  border-radius: 100%;
  
}

#plant-resume-data{
  padding-left: 20px;
  flex-grow: 1;
  color: white;
}

#plant-resume-data p{
  color: #FECB34;
}

#health-indicator-icon{
  height: 100% !important;
  width: 84px !important;
  background-color: white;
}

#weather-events{
  display: flex !important;
  flex-flow: row;
}

@media (min-width: 748px) and (max-width: 1920px){
  section#weather-events {
  position: relative !important;
  border-radius: 10px !important;
}


}