{% extends "base.html" %}
{% load static%}


{% block title %} Koltagri{% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/landplots/cultivos.css'%}">
<style>
  /* Section container */
section#results {
  margin-top: 20px;
}

/* Card principal */
section#results > div.result-card {
  background-color: var(--middle-grey);
  display: flex;
  height: 72px;
  border-radius: 5px;
  padding-inline: 20px;
  align-items: center;
  justify-content: start;
}

/* Header com ícone */
section#results > div.result-card > figure.card-header {
  height: 49px;
  width: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003845;
  border-radius: 100%;
}

/* Conteúdo interno do card */
section#results > div.result-card > div.card-body {
  display: flex;
  height: 100%;
  flex: 1;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  padding-left: 16px;
  gap: 5px;
}

/* Título */
section#results > div.result-card > div.card-body > p.card-title {
  color: #003845;
  font-size: 18px;
  font-weight: 500;
}

/* Subtítulo */
section#results > div.result-card > div.card-body > p.card-subtitle {
  color: #62984A;
  font-size: 14px;
}

/* Opções (ícone de seta) */
section#results > div.result-card > div.options {
  height: 100%;
  display: flex;
  align-items: end;
  padding-bottom: 10px;
}

</style>

{% endblock css %}
 {% block header %}



<div id="search-bar">
      <form action="">
        <input type="text" placeholder="Pesquisar...">
      </form>
</div>

    <div id="user-actions-desktop" style="display: flex; gap: 16px; align-items: center;">
      <div id="email-button">
        <button type="button" aria-label="Email">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
            <path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/>
          </svg>
        </button>
      </div>

      <div id="notifications-button">
        <button type="button" aria-label="Notificações">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
            <path d="M160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160Zm320-300Zm0 420q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM320-280h320v-280q0-66-47-113t-113-47q-66 0-113 47t-47 113v280Z"/>
          </svg>
        </button>
      </div>

      <div id="profile-icon">
        <button type="button" aria-label="Perfil" style="padding:0; border:none; background:none; cursor:pointer;">
          <img src="svg/pablo.jpg" alt="Foto de perfil" style="width: 40px; height: 40px; border-radius: 50%;">
        </button>
      </div>
    </div>{% endblock header %}



{% block main %} 
<section id="navigation">
  <button type="button" class="navigation-button" id="return-button">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
  </button>
  <button type="button" class="navigation-button" id="adding-button">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M440-120v-320H120v-80h320v-320h80v320h320v80H520v320h-80Z"/></svg>
  </button>
</section>
<section class="preferences" id="customize-searching">
  <button type="button" class="preferences-button" id="ordering">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M120-240v-80h240v80H120Zm0-200v-80h480v80H120Zm0-200v-80h720v80H120Z"/></svg>
    <p>Organizar por</p>
    
  </button>
  <button type="button" class="preferences-button" id="filtering">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M400-240v-80h160v80H400ZM240-440v-80h480v80H240ZM120-640v-80h720v80H120Z"/></svg>
    <p>Filtros</p>
  </button>
</section>

<section id="results">
  <div class="result-card" id="1">
    <figure class="card-header">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
        <path d="M440-120v-319q-64 0-123-24.5T213-533q-45-45-69-104t-24-123v-80h80q63 0 122 24.5T426-746q31 31 51.5 68t31.5 79q5-7 11-13.5t13-13.5q45-45 104-69.5T760-720h80v80q0 64-24.5 123T746-413q-45 45-103.5 69T520-320v200h-80Zm0-400q0-48-18.5-91.5T369-689q-34-34-77.5-52.5T200-760q0 48 18 92t52 78q34 34 78 52t92 18Zm80 120q48 0 91.5-18t77.5-52q34-34 52.5-78t18.5-92q-48 0-92 18.5T590-569q-34 34-52 77.5T520-400Zm0 0Zm-80-120Z"/>
      </svg>
    </figure>
    <div class="card-body">
      <p class="card-title"><span>Cazarão Souza</span></p>
      <p class="card-subtitle">Riacho de Santana</p>
    </div>
    <div class="options">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#494949">
        <path d="M480-345 240-585l56-56 184 183 184-183 56 56-240 240Z"/>
      </svg>
    </div>
  </div>
</section>

{% endblock main %}