{% extends 'base.html' %}
{% load static %}

{% block title %}Planta{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/plant_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/partials/modal.css'%}">

<style>
    .content-layer{
  display: flex;
}

.plant-detail-form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  margin-top: 60px;
  gap: 20px;
  
}

.plant-detail-form button{
  height: 44px;
  border-radius: 10px;
  background-color: var(--primary-color);
  padding: 16px;
  color: white;
  font-weight: 400;
}

.plant-detail-form input{
  height: 44px;
  border-radius: 10px;
  padding: 10px
}
.plant-detail-form select{
  height: 44px;
  border-radius: 10px;
  padding: 10px
}

.buttons-area{
  display: flex;
  align-items: center;
  justify-content: space-between
}
</style>
{% endblock %}

{% block content %}

<div class="modal-overlay climate-modal" id="modal-overlay">
    <div class="content-layer">
        <button type="button" class="close-btn" id="close-btn">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
            </svg>
        </button>

        <form action="" class="plant-detail-form">

            <label for="period">Safra</label>
            <select name="period" id="period">
                <option value="2024">2024</option>
                <option value="2025">2025</option>
            </select>

            <label for="transplant_date">Data de Transplante</label>
            <input type="date" name="transplant_date" id="transplant_date">

            <label for="harvest_date">Data de Colheita</label>
            <input type="date" name="harvest_date" id="harvest_date">

            <div class="buttons-area">
                <button type="submit" class="confirm-btn">Confirmar edição</button>
                <button type="button" class="delete-btn">Apagar planta</button>
            </div>

        </form>
    </div>
</div>


    <!-- ✅ SEÇÃO 1 -->
    <section class="plant-header">
        <img src="{% static 'example_img/banana.png' %}" alt="Planta">

        <div class="plant-names">
            <p class="popular">Banana da terra</p>
            <p class="scientific">Musa x paradisica</p>
        </div>

        <div class="actions">
            <button type="button" id="back-button" onclick="location.href='{% url 'cultivated_plants'%}'" >
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
            </button>
            <button type="button" id="edit-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
            </button>
        </div>
    </section>

    <!-- ✅ SEÇÃO 2 -->
    <section class="status-section">

        <div class="status-card">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M491-200q12-1 20.5-9.5T520-230q0-14-9-22.5t-23-7.5q-41 3-87-22.5T343-375q-2-11-10.5-18t-19.5-7q-14 0-23 10.5t-6 24.5q17 91 80 130t127 35Z"/>
            </svg>
            <div>
                <p>Irrigação</p>
                <p>Diária</p>
            </div>
        </div>

        <div class="status-card">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M491-200q12-1 20.5-9.5T520-230q0-14-9-22.5t-23-7.5q-41 3-87-22.5T343-375q-2-11-10.5-18t-19.5-7q-14 0-23 10.5t-6 24.5q17 91 80 130t127 35Z"/>
            </svg>
            <div>
                <p>Sol</p>
                <p>Pleno</p>
            </div>
        </div>

        <div class="status-card">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M491-200q12-1 20.5-9.5T520-230q0-14-9-22.5t-23-7.5q-41 3-87-22.5T343-375q-2-11-10.5-18t-19.5-7q-14 0-23 10.5t-6 24.5q17 91 80 130t127 35Z"/>
            </svg>
            <div>
                <p>Transplante</p>
                <p>20 dias</p>
            </div>
        </div>

        <div class="status-card">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M491-200q12-1 20.5-9.5T520-230q0-14-9-22.5t-23-7.5q-41 3-87-22.5T343-375q-2-11-10.5-18t-19.5-7q-14 0-23 10.5t-6 24.5q17 91 80 130t127 35Z"/>
            </svg>
            <div>
                <p>Temperatura ideal</p>
                <p>20°-34°</p>
            </div>
        </div>

    </section>

    <!-- ✅ SEÇÃO 3 -->
    <section class="info-section">

        <div class="info-block">
            <h3>Descrição</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Cras tristique facilisis ipsum vel fringilla. Suspendisse ut 
                efficitur eros, in commodo sem.
            </p>
        </div>

        <div class="info-block">
            <h3>Observações</h3>
            <p>
                <a href="">

                </a>
            </p>
        </div>
        
        

    </section>


{% endblock %}


{% block scripts %}
<script>
    const modalOverlay = document.getElementById("modal-overlay");
    const editbutton = document.getElementById("edit-button");
    const closebtn =  document.getElementById("close-btn");

    editbutton.addEventListener("click", (e) => {
        modalOverlay.style.display = "flex";
    })

    closebtn.addEventListener("click", (e) =>{
        modalOverlay.style.display = "none";
    })



    
</script>

{% endblock%}