.action-bar {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 10px;
}

.action-bar .actions button{
  height: 40px;
  border-radius: 10px;
  background-color: var(--primary-color);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;
  color: white;
  font-weight: 400;
  min-height: 44px;
  
}

.action-bar #filter-open{
  background-color: white;
  color: black;
  border: 2px solid #f2f2f2;
}


.actions{
  display: flex;
  gap: 10px;
  width: fit-content;
}

.search{
  flex: 1;
  display: flex;
  align-items: center;
  gap: 6px;
    border: 1px solid #f2f2f2;
  margin-right: 16px;
  border-radius: 10px;
  padding-inline: 6px;
  min-height: 44px;
}