.search-area {
    width: 100%;
    max-width: 480px;
    height: 44px;
    display: flex;              /* herdado de .flex-rw, se quiser deixar aqui */
    border-radius: 10px;
}

/* Input de pesquisa */
.search-area input[type="text"] {
    background-color: var(--background-icons-color);
    padding-left: 12px;
    flex: 1;
    border-radius: 10px 0 0 10px;
    border: none; /* opcional, melhora o visual */
    outline: none;
}

/* Botão de envio */
.search-area button {
    min-width: 44px;
    border-radius: 0 10px 10px 0;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

/* Ícone dentro do botão */
.search-area button svg {
    fill: #e3e3e3;
}
