.user-actions{
  width: 100%; 
  display: flex; 
  flex-flow: row; 
  align-items: center;
  justify-content: space-between; 
  height: 44px; 

}
.user-actions button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 10px;
}

.user-actions button svg{
  fill: black;
}