button.navigation-button {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #f2f2f2;
  border-radius: 10px;
}

#navigation {
  display: flex;
  width: auto;
  height: 50px;
  padding: 0px;
  flex-flow: row;
  justify-content: space-between;
}