{%    extends 'base.html'%}
{% block title %}
Home
{% endblock %}
{% load static %}

{% block styles %}
<style>
    @media(min-width: 768px) and (max-width: 1299px){
        .business-card{
            width: 100%;
        }
        
    }
    .business-card{
            border: 2px solid #f2f2f2;
            border-radius: 10px;
            
        }
    .indicator-header .image svg{
        height: 50px;
        width: 50px;
        fill: rgb(0, 0, 0);
    }
    .indicator__title{
        font-size: 16px;
    }
    .indicator__value{
        font-size: 22px;
        color: red;
        
    }
    .indicator-description .text{
        text-align: justify;
        font-size: 14px;
    }
    .upper-side{
        padding: 16px 16px 0px 16px;
        flex: 1;
    }

    .bottom-side.shortcut{
        width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  background-color: var(--primary-color);
  border-radius: 0px 0px 10px 10px;
  padding-inline: 10px;
  
    }

    .bottom-side.shortcut p{
        color: white;
    }

.indicator-header{
    padding-bottom: 6px;
}




</style>
{% endblock %}

{% block content %}
<section class="business-card expenses " style="width: 100%; height: 190px; display: flex; flex-direction: column;">
    <div class="upper-side flex-clmn">
        <div class="indicator-header flex-rw">
            <figure class="image">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#CCDAF5"><path d="M640-520q17 0 28.5-11.5T680-560q0-17-11.5-28.5T640-600q-17 0-28.5 11.5T600-560q0 17 11.5 28.5T640-520Zm-320-80h200v-80H320v80ZM180-120q-34-114-67-227.5T80-580q0-92 64-156t156-64h200q29-38 70.5-59t89.5-21q25 0 42.5 17.5T720-820q0 6-1.5 12t-3.5 11q-4 11-7.5 22.5T702-751l91 91h87v279l-113 37-67 224H480v-80h-80v80H180Zm60-80h80v-80h240v80h80l62-206 98-33v-141h-40L620-720q0-20 2.5-38.5T630-796q-29 8-51 27.5T547-720H300q-58 0-99 41t-41 99q0 98 27 191.5T240-200Zm240-298Z"/></svg>
        </figure>
        <div class="indicator__text">
            <p class="indicator__title">Gastos do mês</p>
            <p class="indicator__value">Acima da média</p>
        </div>
        </div>
        <div class="indicator-description">
            <p class="text">
                De acordo com seu histórico, você gastou 1200R$ a mais que o mẽs passado(2000R$). Revise seus gastos e veja o quem mudou
            </p>
        </div>
    </div>
    <div class="bottom-side shortcut flex-rw">
        <p class="shortcut__title">Painel de Gastos</p>
        <svg class="shortcut__icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
    </div>
</section>

<section class="business-card expenses " style="width: 100%; height: 190px; display: flex; flex-direction: column;">
    <div class="upper-side flex-clmn">
        <div class="indicator-header flex-rw">
            <figure class="image">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M320-80q-33 0-56.5-23.5T240-160v-172q0-74 21-142.5T327-611q-38-9-62.5-41T240-724v-42q0-48 41.5-80.5T368-874l356 35q17 2 26.5 13.5T760-799v119q0 15-10.5 26.5T724-640l-36 4q14 49 37 88t55 56l-40 70q-53-31-82-85.5T612-629l-44 4q8 50 30.5 101t45.5 92q18 32 27 67t9 71v134q0 33-23.5 56.5T600-80H320Zm0-676v32q0 18 13 29t31 9l316-30v-48l-316-30q-18-2-31 9t-13 29Zm0 596h280v-134q0-26-6.5-51T574-393q-31-54-54-111.5T488-617l-60 5-26 34q-40 53-61 116.5T320-332v172Zm0 0h280-280Z"/></svg>
        </figure>
        <div class="indicator__text">
            <p class="indicator__title">Insumos</p>
            <p class="indicator__value">Perigo </p>
        </div>
        </div>
        <div class="indicator-description">
            <p class="text">
                De acordo com o seu consumo de insumos, alguns de seus produtos estão em perigo de acabar. Verifique seu estoque e faça novos pedidos
            </p>
        </div>
    </div>
    <div class="bottom-side shortcut flex-rw">
        <p class="shortcut__title">Painel de Gastos</p>
        <svg class="shortcut__icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
    </div>
</section>

<section class="business-card expenses " style="width: 100%; height: 190px; display: flex; flex-direction: column;">
    <div class="upper-side flex-clmn">
        <div class="indicator-header flex-rw">
            <figure class="image">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M220-520 80-600v-160l140-80 140 80v160l-140 80Zm0-92 60-34v-68l-60-34-60 34v68l60 34Zm440 123v-93l140 82v280L560-80 320-220v-280l140-82v93l-60 35v188l160 93 160-93v-188l-60-35Zm-140 89v-480h360l-80 120 80 120H600v240h-80Zm40 69ZM220-680Z"/></svg>
        </figure>
        <div class="indicator__text">
            <p class="indicator__title">Planejamento</p>
            <p class="indicator__value">Nenhum ativo</p>
        </div>
        </div>
        <div class="indicator-description">
            <p class="text">
                Planejamentos futuros ajudam a manter sua produção organizada. Crie novos planejamentos para suas plantações e mantenha o controle do que será feito
            </p>
        </div>
    </div>
    <div class="bottom-side shortcut flex-rw">
        <p class="shortcut__title">Painel de Gastos</p>
        <svg class="shortcut__icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
    </div>
</section>


{% endblock %}

{% block scripts%}

{% endblock %}
