

section#navigation button.navigation-button{
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #f2f2f2;
  border-radius: 10px;
}
section#navigation .navigation-button svg{
    fill: #447216;
    display: flex;
    justify-content: center;
}
#customize-searching{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#customize-searching button{
  display: flex;
  gap: 6px;
  height: 50px;
  align-items: center;
  justify-content: space-evenly;
  padding-inline: 10px;
  border: none;
  border-radius: 10px;
  
}


#navigation{
  display: flex;
  width: auto;
  height: 50px;
  padding: 0px;
  flex-flow: row;
  justify-content: space-between;

}

.preferences-button {
  font-size: 16px;
}

.preferences-button svg{
  fill: var(--cor-secundaria);
}
#ordering {
  width: 160px !important;
  font-weight: 400;
}
#filtering{
  width: 110px;
  font-weight: 400;
}
@media (min-width: 372px ) and (max-width: 747px) {
  header{
    flex-flow: column !important;
    justify-content: end;
    padding-bottom: 10px;
    position: relative;
  }
body {
  display: grid;
  grid-template-areas:
    "header"
    "main "
    "footer";
  grid-template-columns: 0.18fr 1fr 0.18fr;
  grid-template-rows:  200px auto 88px;
  width: 100vw;
  height: 100vh;
}
main{
  position: relative;
}
#navigation{
  top: -22.5%;
  left: 24px;
  right: 24px;
    position: absolute;
}




}
@media (min-width: 748px ) {
  main{
    display: flex;
    flex-direction: column !important;
  }
  #navigation-mobile{
    display: none;
  }
}