{%extends 'base.html'%}
{% block title %}Home{% endblock %}
{% load static %}
{% block styles %}
<style>
    #main-card{
        background-image: url("{% static 'application_img/background/card_background.svg' %}");
    }
</style>
{% endblock %}
{% block content %}
<section class="weather-card-area weather-card-area--std" style="position: relative;">
            <div class="weather-card"></div>
            <div class="weather-card"></div>
            <div class="weather-card" id="main-card">
            </div>
        </section>

        <section class="weather-advice weather-advice--std flex-rw  .brdr-10" style="margin-top: 24px; gap: 12px; justify-content: start; background-color: #f2f2f2; border-radius: 10px;">
            <figure class="advice__figure flex-rw align-cntr" aria-label="Ícone de ciclone extratropical" style="background-color: red;border-top-left-radius: 10px;border-bottom-left-radius: 10px; ">
                <svg aria-label="Ícone de ciclone extratropical"  xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T560-480q0-33-23.5-56.5T480-560q-33 0-56.5 23.5T400-480q0 33 23.5 56.5T480-400ZM661-80q18-56 27-100t14-70q-43 42-100 66t-122 24q-136 0-238.5-18.5T80-214v-85q56 18 100 27t70 14q-42-43-66-100t-24-122q0-137 18.5-239T214-880h85q-18 56-27.5 100T258-710q43-42 100-66t122-24q137 0 239 18.5T880-746v85q-56-18-100-27.5T710-702q42 43 66 100t24 122q0 137-18.5 239T746-80h-85ZM480-240q100 0 170-70t70-170q0-100-70-170t-170-70q-100 0-170 70t-70 170q0 100 70 170t170 70Z"/></svg>
            </figure>
            <p class="advice__text flex-rw align-cntr">
                Ciclone extratopical - Vento em 120 km/h
            </p>

        </section>
        <section class="plant-slide">
            

        </section>
{% endblock %}

{% block scripts%}
{% endblock %}