
{%    extends 'base.html'%}
{% load static%}
{% block title %}
Home
{% endblock %}
{%block header_title%}Koltagri{%endblock%}
{%block header_text%}tarefas{%  endblock %}

{%block rels %}
<link rel="stylesheet" href="{% static 'css/partials/_filter-create.css'%}">
<link rel="stylesheet" href="{% static 'css/partials/_search.css'%}">
{% endblock %}
{% block styles %}
<style>

</style>
{% endblock %}

{% block content %}


section.task-shortcuts




{% endblock %}

{% block scripts%}

{% endblock %}
